<a href="https://colab.research.google.com/github/zhaojianghe16/Python/blob/master/Things_Python_programmers_Should_Know.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# What is Jupyter Notebook?

Jupyter Notebook was known as IPython Notebook. When you install Jupyter Notebook, it will automatically install IPython shell as a Kernel.

##1. How do we check the version of the Python?

In [1]:
from platform import python_version

In [2]:
print('The version of the python that you installed was', python_version())

The version of the python that you installed was 3.6.9

##2. Division by zero is never allowed

In [3]:
try: 
  1/0
except: 
  print('ZeroDivisionError: division by zero')

ZeroDivisionError: division by zero

##3. Input() function will save the input as a string

In [4]:
name= input()

Jay

In [5]:
print('the type of the variable "name" is' , type( name) )

the type of the variable "name" is <class 'str'>

In [6]:
number = input()

100

In [7]:
print('the type of the variable "name" is' , type( name) )

the type of the variable "name" is <class 'str'>

## 4. Special character:  \

 "\t" is a tab, "\n" is a newline, and "\r" is a carriage return.

In [8]:
print("apple","pear")

apple pear

In [9]:
print("apple \t pear")

apple 	 pear

In [10]:
print("apple \npear")

apple
pear

Prefixing a special character with "\" turns it into an ordinary character. This is called "escaping". For example, "\'" is the single quote character. 'It\'s raining' therefore is a valid string and equivalent to "It's raining"

In [11]:
print('It\'s Friday.Let\'s have some fun together!')

It's Friday.Let's have some fun together!

## 5. Play around with strings

Being consistent. There are three ways to create a string.


*  using 'string1'
*  using "string2'
*  using """string3"""

In [12]:
print('This is string1')

This is string1

In [13]:
print("This is string2")

This is string2

In [14]:
print("""This is string3""")

This is string3

You can even put a string inside a string without using an escape character

In [15]:
print( "Alan says：'you can even put a string inside a string without using an escaping character.'")

Alan says：'you can even put a string inside a string without using an escaping character.'

## 6. Int() will truncate the input if it's a float type. Truncate means getting rid of the numbers after the decimal (Not rounding up)

In [16]:
int(35.6)

35

In [17]:
int(35.2)

35

##7. Objected created inside an if statment will continue to exist after execution

In [18]:
grade = 99

In [19]:
if grade >= 60:
  result= 'Passed'
else: 
  result='failed'

In [20]:
result

'Passed'

##8.Compressed if statement

In [21]:
grade = 59

In [22]:
result = ( 'Passed' if grade >= 60 else 'failed')

In [23]:
result

'failed'

##9. Use range to count backward

In [24]:
for i in range(10,0,-2):
  print(i)

10
8
6
4
2

In [25]:
sum(range(100))

4950

## 10. floating point numbers are only estimation. They are not precise. Decimal number are precise.

In [26]:
amount = 112.123
amount

112.123

In [27]:
print(f'{amount:.20f}')

112.12300000000000466116

In [28]:
from decimal import Decimal

In [29]:
amount2=Decimal( '112.123' ) # initialize it with a string/integer.
amount2

Decimal('112.123')

In [30]:
print(f'{amount2:.20f}')

112.12300000000000000000

In [31]:
# Decimal type can only operate with decimal ( +,-,//,/,%)

## 11. f-string

In [32]:
import numpy as np

In [33]:
random_number = np.random.normal(0,1,   15 )
random_number

array([-1.05350274, -0.97043872, -0.83253201, -1.58810043, -0.21045188,
       -0.5891122 ,  0.04398566, -1.24068784, -2.22461916, -1.29184331,
        0.50147602,  0.76215826, -0.23221432, -0.19248624, -0.05357743])

In [34]:
for i in range(0,15):
  amount = random_number[i] 
  print(  f'{i:>2}{amount:>10.2f}'    )

  # {i:>2} means use 2 character position, > means right aligned 
  # {amount:>10.2f} means use 10 character position, > means right aligned,   .2 means keeping 2 decimals
  # , the last "f" means floating point

 0     -1.05
 1     -0.97
 2     -0.83
 3     -1.59
 4     -0.21
 5     -0.59
 6      0.04
 7     -1.24
 8     -2.22
 9     -1.29
10      0.50
11      0.76
12     -0.23
13     -0.19
14     -0.05

-----

# Formatting Techniques for text cells.

##1. No need to concat strings inside the print() function
print() will automatically insert spaces

In [35]:
print('str1' + ' ' +  'str')

str1 str

In [36]:
print('str1' ,'str')  # print( , , ,  ....) can take unlimited arguments.

str1 str

##2. Use 2 spaces (at the end of a string) to have the text move to the line.

This is string1   
This is string2
Next line

##3. Use \` \` to display code in the `code` font

`print('This is a line of code')`

## 4. Use three `  to show code with syntax coloring 


\```python

\#insert the code

\```

```python
print('This is a line of code')
```

##5. Use 3 "-" to add a dividing line.

---

##To Be Continued. This file will be updated weekly starting from 2020/09/10.